<% @page_title = 'Section update' %>

<%= link_to '<< Back to section list', {action: :index}, class: 'back-link' %>

<div class="section update">

	<%= form_for(@section, action: :update) do |f| %>

		<%= render(partial: 'form', locals: {:f => f}) %>

		<div class="form-buttons">
			<%= f.submit 'Update section' %>
		</div>

	<% end %>

</div>