<% @page_title = 'Section create' %>

<%= link_to '<< Back to section list', {action: :index}, class: 'back-link' %>

<div class="section new">
	<%= form_for(:section, url: {action: :create}) do |f| %>

		<%= render(partial: 'form', locals: {:f => f}) %>

		<div class="form-buttons">
			<%= f.submit 'Create section' %>
		</div>
	<% end %>
</div>
